<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ partial "/head.html" . }}
  </head>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css"
  >
  <link rel="stylesheet" href="{{ "css/main.css" | relURL }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">

  <style>
  h1, h2, h3 {
  font-family: 'Anton', sans-serif;
  }
  </style>
  <body>
    <header>
      {{ partial "/header.html" . }}
    </header>

    <main>
      {{ block "main" . }}{{ end }}
    </main>

    <footer>
      {{ partial "/footer.html" . }}
    </footer>
  </body>
</html>
